
<div class="container">
  <div class="row py-5">
<div class="col-md-5 ">
  <img src="{{data.image}}" alt="" class="img-fluid">
</div>
<div class="col-md-7">
  <h2 class="py-2">Title: {{data.title}}</h2>
  <h2 class="py-2">Category: {{data.category}}</h2>
  <h2 class="py-2">Description: {{data.description}}</h2>
  <ul class="py-3">
    <li><strong>Rate: {{data.rating.rate}}</strong></li>
    <li><strong>Count: {{data.rating.count}}</strong></li>
    <li><strong>Price: {{data.price}}</strong></li>
  </ul>

</div>
  </div>
</div>

